h2{
    color: blue;
}

.boxmodel{
   border: 5px solid red; 
   display: inline-block;
   padding: 5px 20px 5px 20px;
   margin: 5px 20px;
   width: 30px;
   height: 55px;
}

p{
    font-size: 10px;
}

span{
    font-size: 20px;
}